body {
    background-color: #8c7a96;
    color: whitesmoke;
}

#app {
    text-align: center;

    .reset {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }

    #undo, #sleep {
        padding: 20px;
    }

    .hearts {
        width: 224px;
        height: 56px;
        margin: 0 auto;
        padding-top: 15px;
    }

    .heart {
        background-image: url('./src/Images/heart.png');
        width: 56px;
        height: 56px;
        display: inline-block;
    }

    .affection-btn {
        border: 0;
        padding: 0;
        margin: 5px;
        height: 56px;

        &:hover {
            box-shadow: 0 0 10px whitesmoke
        }

        &:focus {
            outline: none;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .village-tracker {
        .villager {
            padding: 5px;
            margin: 5px 2px;
            display: inline-block;

            .color-stripe {
                height: 10px;
                width: 100%;
            }

            img {
                width: 80px;
                height: 80px;
            }

            .tiny-img {
                width: 36px;
                height: 36px;
                margin: 2px;
            }
        }
        .friend {
            background-color: #499333;
        }
    }

    .map {
        margin-top: 10px;
        width: 98%;
    }
}
