body {
    background-color: #8c7a96;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

#app {
    text-align: center;

    .reset {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    #undo, #sleep {
        padding: 20px;
    }

    .hearts {
        width: 224px;
        height: 56px;
        margin: 0 auto;
        padding-top: 15px;
    }

    .heart {
        background-image: url('./src/Images/heart.png');
        width: 56px;
        height: 56px;
        display: inline-block;
    }

    .affection-btn {
        border: 0;
        padding: 0;
        margin: 5px;
        height: 56px;

        &:hover {
            box-shadow: 0 0 10px whitesmoke
        }

        &:focus {
            outline: none;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .village-tracker {
        .villager {
            padding: 5px;
            margin: 5px 2px;
            display: inline-block;
            position: relative;

            .color-stripe {
                height: 10px;
                width: 100%;
            }

            img {
                width: 80px;
                height: 80px;
            }

            .tiny-img {
                width: 36px;
                height: 36px;
                margin: 2px;
            }

            .complete-btn {
                position: absolute;
                top: -8px;
                left: -8px;
                background-color: white;
                padding: 2px;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                border: 2px solid #999;
                cursor: pointer;
            }
        }
        .friend {
            background-color: #499333;
        }
        .complete {
            background-color: #1789a5;
        }
    }

    .map {
        margin-top: 10px;
        width: 98%;
    }

    .trophy-wrapper {

        border: 2px solid #dddddd;

        .trophy {
            cursor: pointer;
            padding: 6px;

            &:hover {
                background-color: #675a6e;
            }
        }

        ul {
            padding: 5px;
            margin: 0;
            list-style-type: none;

            li {
                display: inline-block;
                padding: 5px;
                border: 1px solid #675a6e;

                &:hover {
                    background-color: #675a6e;
                    cursor: pointer;
                }
            }
        }
    }
}
